<p id="notice"><%= notice %></p>

<p>
  <%= @question.text %>
</p>
<%= form_tag("/polls/results") do %>
  <% @choices.each do |choice| %>
    <p>
      <%= radio_button_tag :choice_id, choice.id, false %><b> <%= choice.text %></b>
    </p>
  <% end %>
  <div><%= submit_tag 'Vote' %></div>
<% end %>  
